[Unit]
Description=Run the Caelestia shell health check
PartOf=graphical-session.target

[Timer]
OnBootSec=45s
OnUnitActiveSec=30s
AccuracySec=5s
Unit=caelestia-watchdog.service

[Install]
WantedBy=default.target
